.menu-page {
  padding: 40px 20px;
  max-width: 1100px;
  margin: auto;
}

.menu-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.menu-sub {
  text-align: center;
  margin-bottom: 30px;
  color: gray;
}

/* Filter Buttons */
.menu-filter {
  text-align: center;
  margin-bottom: 30px;
}

.menu-filter button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 20px;
}

.menu-filter .active {
  background: black;
  color: white;
}

/* Section */
.menu-section {
  margin-bottom: 40px;
}

.menu-section h3 {
  margin-bottom: 15px;
}

/* Menu Item */
.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
}

.menu-item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-info {
  flex: 1;
}

.menu-info h4 {
  margin: 0;
}

.menu-info p {
  margin: 5px 0;
  font-size: 14px;
  color: gray;
}

.menu-action {
  text-align: right;
}

.price {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.add-btn {
  padding: 6px 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-controls button {
  width: 30px;
  height: 30px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.order-summary {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 280px;
  background: black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 18px;
}

.checkout-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background:white;
  color:black;
  border-radius: 6px-solid white;
  cursor: pointer;
}
